<my-title *ngIf="!id" title="Produtos / Cadastrar"></my-title>
<my-title *ngIf="id" title="Produtos / Editar"></my-title>
<hr>

<form [formGroup]="produtoForm" (submit)="cadastrarEditarProdutos()">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="nomeProduto" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nomeProduto" formControlName="nomeProduto">
        <div *ngIf="produtoForm.get('nomeProduto')?.errors?.['required']" class="form-text text-danger">Campo obrigatório</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="codigoBarras" class="form-label">Código de Barras</label>
        <input type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras">
        <div *ngIf="produtoForm.get('codigoBarras')?.errors?.['required']" class="form-text text-danger">Campo obrigatório</div>
        <div *ngIf="produtoForm.get('codigoBarras')?.errors?.['maxlength']" class="form-text text-danger">Não pode ser maior que 11 caracteres</div>
        <div *ngIf="produtoForm.get('codigoBarras')?.errors?.['minlength']" class="form-text text-danger">É obrigatório 11 caracteres</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="quantidade" class="form-label">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" formControlName="quantidade">
        <div *ngIf="produtoForm.get('quantidade')?.errors?.['required']" class="form-text text-danger">Campo obrigatório</div>
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="preco" class="form-label">Preço</label>
        <input type="text" class="form-control" id="preco" formControlName="preco" prefix="R$ " min="0.01" mask="separator.2" thousandSeparator=",">
        <div *ngIf="produtoForm.get('preco')?.errors?.['required']" class="form-text text-danger">Campo obrigatório</div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="produtoForm.invalid">{{id ? 'Editar' : 'Cadastrar' }}</button>
</form>
