<div class="container">
<my-title title="Usuários"></my-title>
  <hr />
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Ações</td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-dark" href="/cadastroUsuario" role="button">Cadastrar</a>
</div>
